<footer class="p-8" >
    <div class="lg:flex justify-between ">
        <div class="text-neutral-50 justify-center shadow-xl shadow-zinc-800 p-6 rounded-md">
            <div class="space-y-3.5 " >
                <h2 class="flex justify-center">+Info</h2>
                <div class="red-divider"></div>
                <p class="flex justify-center ">
                    From 6th to 9th July 2022 <br /> Barcelona, FORUM PARC
                </p>
                <div class="red-divider"></div>
                <ul>
                    <li>6 July | All day ~ Brunch + Opening</li>
                    <li>7 July | 8pm ~ 4am Stage Lolita</li>
                    <li>8 July | 6pm ~ 7am Foam Battle</li>
                    <li>9 July | 12am ~ 12pm Closing Rave</li>
                </ul>
            </div>
        </div>
        <div class="text-neutral-50 space-y-6 w-80 pt-12">
            <div class="flex flex-col text-center">
                <label for="emailUser" class="pb-1.5">Email address</label>
                <input type="email" class="h-10 form-input" id="emailUser" placeholder="name@e-mail.com" >
            </div>
            <div class="flex flex-col text-center">
                <label for="messageUser" class="pb-1.5">Comments</label>
                <textarea class="form-input" id="messageUser" rows="3"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="border-slate-50 border rounded-md p-2">Send</button>
            </div>
        </div>
        <div class="rounded-md w-screen sm:w-96  pt-12">
            <iframe
                class="rounded-md border-none"
                height="250"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDtcFjDfv1ekr_y_CVv2kOt6kZCVFe1Xwk&q=Forum,Barcelona">
            </iframe>
        </div>
    </div>
    <div class="red-divider"></div>
    <div class="sm:flex justify-between text-neutral-50">
        <div class="w-14">
            <picture >
                <source srcset="./assets/images/logo.png" type="image/png" />
                <img src="./assets/images/logo.png" alt="Music Festival logo" class="inline-block rounded-full ring-2 ring-white" />
            </picture>
        </div>
        <nav class="space-x-6 sm:text-2xl font-Righteous pt-8">
            <a href="index.html" class="nav-link" aria-label="Home">Home</a>
            <a href="bands.html" class="nav-link" aria-label="Bands">Bands</a>
            <a href="blog.html" class="nav-link" aria-label="Blog">Blog</a>
        </nav>
        <div >
            <ul class="flex space-x-6 text-2xl pt-8">
                <li><a href="#" target="_blank" aria-label="Google+"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#" target="_blank" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
