<header class="md:flex justify-between bg-zinc-700/[.06] p-8 fixed top-0 left-0 right-0">
    <div class="w-24 p-2">
        <a href="index.html"><img src="./assets/images/logo.png" alt="Music Festival logo" class="inline-block rounded-full ring-2 ring-white" /></a>
    </div>
    <nav class="space-x-6 sm:text-2xl md:text-3xl text-neutral-50 font-Righteous">
        <a href="index.html" class="nav-link" aria-label="Home">Home</a>
        <a href="bands.html" class="nav-link" aria-label="Bands">Bands</a>
        <a href="blog.html" class="nav-link" aria-label="Blog">Blog</a>
    </nav>
</header>
